/*box-shadow*/
.container1 {
    background: #ffaaaa;
    width: 200px;
    height: 200px;
    margin: 100px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2);
}

.container2 {
    background: #ffaaaa;
    width: 200px;
    height: 200px;
    margin: 100px;
    box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, .2);
}

.container3 {
    background: #ffaaaa;
    width: 200px;
    height: 200px;
    margin: 100px;
    box-shadow: 0 0 0 5px green;
}

.container4 {
    background: #ffaaaa;
    width: 200px;
    height: 200px;
    margin: 100px;
    box-shadow: 200px 100px 0 -12px green;
}

.container5 {
    background: #D0104C;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 200px 100px 0 5px green,
    230px 100px 0 5px green,
    215px 115px 0 -3px #D0104C;
}

/*机器猫*/
.container6 {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 300px auto;
    background-color: #C63D01;
    box-shadow: 0 0 0 1px #000,
    42px 25px 0 -17px #000,
    44px 25px 0 -17px #000,
    46px 25px 0 -17px #000,
    48px 25px 0 -17px #000,
    50px 25px 0 -17px #000,
    52px 25px 0 -17px #000,
    54px 25px 0 -17px #000,
    56px 25px 0 -17px #000,
    58px 25px 0 -17px #000,
    60px 25px 0 -17px #000,
    62px 25px 0 -17px #000,
    64px 25px 0 -17px #000,
    66px 25px 0 -17px #000,
    68px 25px 0 -17px #000,
    70px 25px 0 -17px #000,
    72px 25px 0 -17px #000,
    74px 25px 0 -17px #000,
    76px 25px 0 -17px #000,
    78px 25px 0 -17px #000,
    80px 25px 0 -17px #000,
    82px 25px 0 -17px #000,
    84px 25px 0 -17px #000,
    -42px 25px 0 -17px #000,
    -44px 25px 0 -17px #000,
    -46px 25px 0 -17px #000,
    -48px 25px 0 -17px #000,
    -50px 25px 0 -17px #000,
    -52px 25px 0 -17px #000,
    -54px 25px 0 -17px #000,
    -56px 25px 0 -17px #000,
    -58px 25px 0 -17px #000,
    -60px 25px 0 -17px #000,
    -62px 25px 0 -17px #000,
    -64px 25px 0 -17px #000,
    -66px 25px 0 -17px #000,
    -68px 25px 0 -17px #000,
    -70px 25px 0 -17px #000,
    -72px 25px 0 -17px #000,
    -74px 25px 0 -17px #000,
    -76px 25px 0 -17px #000,
    -78px 25px 0 -17px #000,
    -80px 25px 0 -17px #000,
    -82px 25px 0 -17px #000,
    -84px 25px 0 -17px #000,
    42px 47px 0 -17px #000,
    44px 47px 0 -17px #000,
    46px 47px 0 -17px #000,
    48px 47px 0 -17px #000,
    50px 47px 0 -17px #000,
    52px 47px 0 -17px #000,
    54px 47px 0 -17px #000,
    56px 47px 0 -17px #000,
    58px 47px 0 -17px #000,
    60px 47px 0 -17px #000,
    62px 47px 0 -17px #000,
    64px 47px 0 -17px #000,
    66px 47px 0 -17px #000,
    68px 47px 0 -17px #000,
    70px 47px 0 -17px #000,
    72px 47px 0 -17px #000,
    74px 47px 0 -17px #000,
    76px 47px 0 -17px #000,
    78px 47px 0 -17px #000,
    80px 47px 0 -17px #000,
    82px 47px 0 -17px #000,
    84px 47px 0 -17px #000,
    -42px 47px 0 -17px #000,
    -44px 47px 0 -17px #000,
    -46px 47px 0 -17px #000,
    -48px 47px 0 -17px #000,
    -50px 47px 0 -17px #000,
    -52px 47px 0 -17px #000,
    -54px 47px 0 -17px #000,
    -56px 47px 0 -17px #000,
    -58px 47px 0 -17px #000,
    -60px 47px 0 -17px #000,
    -62px 47px 0 -17px #000,
    -64px 47px 0 -17px #000,
    -66px 47px 0 -17px #000,
    -68px 47px 0 -17px #000,
    -70px 47px 0 -17px #000,
    -72px 47px 0 -17px #000,
    -74px 47px 0 -17px #000,
    -76px 47px 0 -17px #000,
    -78px 47px 0 -17px #000,
    -80px 47px 0 -17px #000,
    -82px 47px 0 -17px #000,
    -84px 47px 0 -17px #000,
    42px 70px 0 -17px #000,
    44px 70px 0 -17px #000,
    46px 70px 0 -17px #000,
    48px 70px 0 -17px #000,
    50px 70px 0 -17px #000,
    52px 70px 0 -17px #000,
    54px 70px 0 -17px #000,
    56px 70px 0 -17px #000,
    58px 70px 0 -17px #000,
    60px 70px 0 -17px #000,
    62px 70px 0 -17px #000,
    64px 70px 0 -17px #000,
    66px 70px 0 -17px #000,
    68px 70px 0 -17px #000,
    70px 70px 0 -17px #000,
    72px 70px 0 -17px #000,
    74px 70px 0 -17px #000,
    76px 70px 0 -17px #000,
    78px 70px 0 -17px #000,
    80px 70px 0 -17px #000,
    82px 70px 0 -17px #000,
    84px 70px 0 -17px #000,
    -42px 70px 0 -17px #000,
    -44px 70px 0 -17px #000,
    -46px 70px 0 -17px #000,
    -48px 70px 0 -17px #000,
    -50px 70px 0 -17px #000,
    -52px 70px 0 -17px #000,
    -54px 70px 0 -17px #000,
    -56px 70px 0 -17px #000,
    -58px 70px 0 -17px #000,
    -60px 70px 0 -17px #000,
    -62px 70px 0 -17px #000,
    -64px 70px 0 -17px #000,
    -66px 70px 0 -17px #000,
    -68px 70px 0 -17px #000,
    -70px 70px 0 -17px #000,
    -72px 70px 0 -17px #000,
    -74px 70px 0 -17px #000,
    -76px 70px 0 -17px #000,
    -78px 70px 0 -17px #000,
    -80px 70px 0 -17px #000,
    -82px 70px 0 -17px #000,
    -84px 70px 0 -17px #000,
    -20px -26px 0 -10px #333,
    -34px -40px 0 15px #fff,
    -34px -40px 0 16px #000,
    20px -26px 0 -10px #333,
    34px -40px 0 15px #fff,
    34px -40px 0 16px #000,
    0 55px 0 75px #fff,
    0 55px 0 76px #000,
    0 22px 0 120px #08BDEB,
    0 22px 0 121px #000;
}

/*机器猫鼻子*/
.container6::before {
    content: "";
    position: absolute;
    bottom: -81px;
    left: 17px;
    height: 80px;
    width: 2px;
    background-color: #000;
}

/*机器猫嘴巴*/
.container6::after {
    content: "";
    position: absolute;
    bottom: -83px;
    left: -44px;
    width: 125px;
    height: 70px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom: solid 2px black;
}

/*text-shadow*/
.container7 {
    margin: 0 auto;
    max-width: 800px;
    font-size: 18px;
    line-height: 2em;
    font-family: STKaiti;
    /*text-shadow: 1px 1px 0 #aaa;*/
    /*text-shadow: 0 0 1px rgba(128,128,128,.2);*/
    background-color: black;
    text-shadow: -1px -1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
    0 0 2px white;
}

/*border-radius*/
.container8 {
    width: 100px;
    height: 100px;
    background-color: #ffaaaa;
    border-radius: 10px / 20px;
}

.container9 {
    width: 0;
    height: 0;
    border: 30px solid #D0104C;
    border-radius: 40px 40px 10px 10px / 30px 30px 40px 40px;
}

/*background*/
.i {
    width: 20px;
    height: 20px;
    background: url("../images/background.png") no-repeat;
    background-size: 20px 40px;
    transition: background-position .4s;
}

.i:hover {
    background-position: 0 -20px;
}

.container10 {
    width: 400px;
    height: 300px;
    border: 1px solid #aaaaff;
    background: url("../images/panda.jpg");
    /*background-position: center center;*/
    background-size: 200px 100px;
    background-repeat: repeat-x;
}

.container11 {
    width: 400px;
    height: 300px;
    border: 1px solid #aaaaff;
    background: url("../images/panda.jpg") no-repeat center center;
    background-size: contain;
}

/*clip-path*/
.container12{
    width: 400px;
    height: 300px;
    border: 1px solid #aaaaff;
    background: url("../images/panda.jpg") no-repeat center center;
    padding: 10px;
    background-size: cover;
    clip-path: inset(100px 50px);
}

.container13{
    width: 400px;
    height: 300px;
    border: 1px solid #aaaaff;
    background: url("../images/panda.jpg") no-repeat center center;
    padding: 10px;
    background-size: cover;
    clip-path: circle(50px at 100px 100px);
}













