/** {
    margin: 0;
    padding: 0;
}*/

/* 负margin例子, 开始 */
#wrapper div {
    width: 300px;
    height: 60px;
    /* height和line-height相同, 文字居中 */
    line-height: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
}

#first, #first2 {
    background-color: red;
}

#second {
    background-color: purple;
    margin-top: -30px;
    margin-bottom: -30px;
}

#third,
#third2 {
    background-color: blue;
}

#second2 {
    background-color: purple;
    margin-left: -30px;
}

/* 去除inline-block元素之间的间距 */
#wrapper2 {
    font-size: 0;
}

#wrapper2 div {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* 负margin例子, 结束 */

#googleLogo {
    margin: 0 3px -3px 0;
}

/* 相邻选择器, 元素之间的效果, 开始 */
#choose ul {
    list-style-type: none;
}

#choose span + span {
    border-left: 4px solid red;
}

#choose span {
    padding: 0 10px;
}

/* 相邻选择器, 元素之间的效果, 结束 */

/*自适应两列布局，开始*/
#margin-content, #margin-sidebar {
    float: left;
    color: palegreen;
    text-align: center;
}

/*为下方清除浮动*/
.clear {
    clear: both;
}

#margin-content {
    width: 100%;
    background-color: #aaaaff;
    margin-right: -200px;
}

#margin-sidebar {
    width: 200px;
    background-color: peru;
}

/*防止宽度不够文本重叠，200px是右边sidebar的宽度，10px是间距*/
#margin-content p {
    margin-right: 210px;
}

/*自适应两列布局，结束*/

/*元素垂直居中，开始*/
#margin-father {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px dashed;
}

#margin-son {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 80px;
    background-color: coral;
    margin-top: -40px;
    margin-left: -70px;
}

/*元素垂直居中，结束*/

/*overflow hidden清除浮动引起的塌陷，开始*/
#overflow-wrapper {
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}

#overflow-first, #overflow-second {
    width: 80px;
    height: 40px;
    border: 1px solid red;
}

#overflow-first {
    float: left;
}

#overflow-second {
    float: right;
}

/*overflow hidden清除浮动引起的塌陷，结束*/

/*span转inline-block*/
.inline-span {
    display: inline-block;
    width: 60px;
    height: 100px;
    background-color: #F8C3CD;
}
/*隐藏第二个div元素B，开始*/
.display-none {
    display: inline-block;
    width: 60px;
    height: 60px;
    /*设置height和line-height相等，文字居中*/
    line-height: 60px;
    border: 1px solid red;
    font-size: 36px;
    text-align: center;
}

#display-none {
    display: none;
}

#display-none2 {
    visibility: hidden;
}

/*隐藏第二个div元素B，结束*/

/*图片垂直居中于元素，开始*/
.table-cell-div {
    display: table-cell;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    vertical-align: middle;
    text-align: center;
    /*font-size: 0;*/
}

.table-cell-div img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.table-cell-div+.table-cell-div {
    border-left: none;
}
/*图片垂直居中于元素，结束*/

/*icon list，开始*/
.iconList-div, .iconList-div2 {
    display: table-cell;
    width: 100px;
    height: 100px;
    border: 1px solid darkgrey;
    text-align: center;
    vertical-align: middle;
}

.iconList-div img, .iconList-div2 img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.iconList-div+.iconList-div{
    border-left: none;
}
.border-bottom {
    border-bottom: none;
}

.table-div1, .table-div2 {
    border-collapse: separate;
    border-spacing: 10px;
}

.table-div2 {
    border-spacing: 10px 0;
}
/*icon list，结束*/

/*等高布局，开始*/
#height-wrapper {
    display: table-row;
}

#img-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 150px;
    border: 1px solid red;
}

#text-box {
    display: table-cell;
    width: 200px;
    border: 1px solid red;
    border-left: none;
    padding: 10px;
}

/*等高布局，结束*/

/*comments，开始*/
#comments-wrapper {
    display: table;
    border: 1px solid grey;
}

#profile-box {
    display: table-cell;
    width: 70px;
    text-align: center;
    vertical-align: top;
}

#comments-box {
    display: table-cell;
    width: 500px;
}

#profile-box img {
    width: 50px;
}

#comments-username {
    vertical-align: top;
    color: #aaaaff;
    font-weight: bold;
}

#comments-wrapper2 {
    display: table;
}

#profile-box2 {
    display: table-cell;
    width: 50px;
    text-align: center;
    vertical-align: top;
}

#profile-box2 img {
    width: 30px;
}

#comments-box2 {
    display: table-cell;
}

.time {
    font-size: 14px;
    color: grey;
}

.comments {
    font-size: 14px;
}

/*comments，结束*/

/*自动平均划分元素，开始*/
#block-table {
    list-style-type: none;
    display: table;
    width: 400px;
    /*    border: 1px dashed grey;
        padding: 4px;*/
}

.block-table-cell {
    display: table-cell;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: white;
}

#block-table li:nth-child(1) {
    background-color: #aaffaa;
}#block-table li:nth-child(2) {
     background-color: rebeccapurple;
 }#block-table li:nth-child(3) {
      background-color: lightcoral;
  }#block-table li:nth-child(4) {
       background-color: deepskyblue;
   }#block-table li:nth-child(5) {
        background-color: yellow;
    }

#block-table2 {
    list-style-type: none;
    display: flex;
    width: 400px;
}

#block-table2 li {
    flex: 1;
}

#block-table2 li:nth-child(1) {
    background-color: #aaffaa;
}#block-table2 li:nth-child(2) {
     background-color: rebeccapurple;
 }#block-table2 li:nth-child(3) {
      background-color: lightcoral;
  }#block-table2 li:nth-child(4) {
       background-color: deepskyblue;
   }#block-table2 li:nth-child(5) {
        background-color: yellow;
    }

/*自动平均划分元素，结束*/

/*去除inline-block元素间距，开始*/

#abc-inline-block {
    list-style-type: none;
}

#abc-inline-block li, #abc-inline-block2 li {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    background-color: #F8C3CD;
    color: white;
}

#abc-inline-block2 {
    list-style-type: none;
    font-size: 0;
}

#pic-inline-block {
    font-size: 0;
}

/*去除inline-block元素间距，结束*/













