/** {
    margin: 0px;
    padding: 0px;
}*/

/* 负margin例子, 开始 */
#wrapper div {
    width: 300px;
    height: 60px;
    /* height和line-height相同, 文字居中 */
    line-height: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
}

#first, #first2 {
    background-color: red;
}

#second {
    background-color: purple;
    margin-top: -30px;
    margin-bottom: -30px;
}

#third,
#third2 {
    background-color: blue;
}

#second2 {
    background-color: purple;
    margin-left: -30px;
}

/* 去除inline-block元素之间的间距 */
#wrapper2 {
    font-size: 0;
}

#wrapper2 div {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* 负margin例子, 结束 */

#googleLogo {
    margin: 0 3px -3px 0;
}

/* 相邻选择器, 元素之间的效果, 开始 */
#choose ul {
    list-style-type: none;
}

#choose span + span {
    border-left: 4px solid red;
}

#choose span {
    padding: 0 10px;
}

/* 相邻选择器, 元素之间的效果, 结束 */

/*自适应两列布局， 开始*/
#margin-content, #margin-sidebar {
    float: left;
    color: palegreen;
    text-align: center;
}

/*为下方清除浮动*/
.clear {
    clear: both;
}

#margin-content {
    width: 100%;
    background-color: #aaaaff;
    margin-right: -200px;
}

#margin-sidebar {
    width: 200px;
    background-color: peru;
}

/*防止宽度不够文本重叠， 200px是右边sidebar的宽度， 10px是间距*/
#margin-content p {
    margin-right: 210px;
}

/*自适应两列布局， 结束*/















